html,
body {
  padding: 0;
  margin: 0;
  background-color: #f6f6f6 !important;
}

.commLeft {
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid #eee;
}
.commBox {
  background-color: #fff;
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid #eee;
}
.commMain {
  margin-top: 0.5rem;
}
